*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 160%;
}
/* Index page*/
.homepage {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('/Image/background\ image.jpg') no-repeat center / cover;
    height: 100vh; 
}
.logo {
    padding-top: 10px;
    margin-left: 10px;
    color: orange;

}

#navbar ul li a {
    display: block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}
.flex-container{
    display: flex;
    justify-content:space-between;
} 
#navbar ul {   
    display: flex;
    list-style: none;
}
#navbar ul li {
    background: black;
    border: black solid 1px;
    margin: 0 10px;
    transition-property: background;
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
}
h1, .para1 {
    color: burlywood;
}

#navbar li:hover, #intro a:hover  {
    background: #f15a51;
    

}
#intro {
    padding-top: 150px;
    text-align: center;
    line-height: 1.4em;
}
#intro h1 {
    font-size: 1.8em;
    padding-bottom: 20px;
}

#intro .para1 {
    padding-bottom: 40px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 0px solid white;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    color: white;
    background: #8c8c8cb6;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
  	letter-spacing: 2px;
 	animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

/* About page*/
