*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 160%;
}

header {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url('/Image/background\ image.jpg') no-repeat center / cover;
    height: 100vh; 
}
.logo {
    padding-top: 10px;
    margin-left: 10px;
    color: orange;

}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

h1, .para1 {
    color: burlywood;
}
#navbar ul li a:link, #intro a:hover {
    color: white;
}
#navbar ul li a:visited, #intro a:hover{
    color: #8c8c8c;
}
#navbar ul li a:hover, #intro a:hover  {
    color: #f15a51;
}
#intro {
    padding-top: 150px;
    text-align: center;
    line-height: 1.4em;
}
#intro h1 {
    font-size: 1.8em;
    padding-bottom: 20px;
}

#intro .para1 {
    padding-bottom: 40px;
}

.button {
    display: inline-block;
    text-decoration: none;
    border: 0px solid white;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    color: white;
    background: #8c8c8cb6;
}
